*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: rgb(52, 52, 52);
}
.header
{
    width: 100%;
    
}
.nav
{
  
    height: 1rem;
    padding: 1.1rem;
    height: 10rem;
}
.nav_ul
{    
    display: flex;
    justify-content: flex-end;

    font-size: 1.3rem;
    
}
.nav_ul_li
{
    color:white;
    margin: 2rem;
    list-style: none;
    font-family: 'Roboto', arial, sans-serif;;
    justify-content: center;
}
.nav_ul_li a
{
    text-decoration: none;
    color:white;
}
ul img{
    margin: 1.5rem;
}
.section
{
    
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section_figure 
{
    display: flex;
    justify-content: center;
    height: 27rem;
    width: 100%;
    align-items: flex-end;
   padding: 2rem;
}
input[type=text] {
    
    display: flex;
    
    
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  input[type=text]:hover
  {
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
}
  .sech
  {
      border: 1rem solid rgb(52, 52, 53);
      height: 33rem;
      width: 50%;
  }
  .sech img
  {
      position: relative;
      top: 3.6rem;
      left: 1.2rem;
      width: 2rem;
  }
  .footer
  {
      display: flex;
      justify-content: r;
      align-items: flex-end;
      
      height: 7rem;
      width: 13rem;
      position: absolute;
      top: 90%;
      left: 85%;
  }
  .footer p{
      font-size: 1.6rem;
      border:0.5rem solid white ;
      color: #1a73e8;
      background-color: white;
      border-radius: 3rem;
      padding: 0.3rem;
      width: 100%;
     text-align: right;
     margin: auto;
    
  }
  .menu_icon{
     display: flex;  
        align-content:center;
        background-image: url('https://static.thenounproject.com/png/756729-200.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 24px;
      height: 24px;
      text-decoration: none;
      list-style: none;
       margin: 1.5rem;
    }
    .main-buttons
    {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
     
      
     
    }
    .main-buttons button{
        width: 22rem;
        height: 3rem;
        border: 0;
        font-size: 12px;
        color: #5f6368;
        border-radius: 5px;
        padding: 0 15px;
        margin: 1.4rem;
    }
    .main-buttons button:hover {
        border: 1px solid #c6c6c6;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
        color: #222;
        background-color: #f8f8f8;
    }
    .microg{
        display: flex;
        justify-content: flex-end;
        align-self: flex-start;
        position: relative;
        bottom: 6.6rem;
        right: 3rem;
        cursor: pointer;
    }